
    <% Object.keys(messages).forEach(function (type) { %>
      
        <div class="alert alert-<%= type %>">
      <% messages[type].forEach(function (message) { %>
        <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<%= message %>
      <% }) %>
        </div>
    <% }) %>
